{% extends 'base.html.twig' %}

{% block title %}{{ 'login.title'|trans({}, 'templates') }}{% endblock %}

{% block body %}
    {% for flash_messages in app.flashes('reset_password_check_email') %}
        <div class="alert alert-success">{{ flash_messages }}</div>
    {% endfor %}

    <div class="custom-page">
        <h1>{{ 'login.title'|trans({}, 'templates') }}</h1>

        <form method="post" class="form">
            <input
                type="email"
                class="form-control"
                name="email" id="inputEmail" 
                placeholder="{{ 'login.inputs.email'|trans({}, 'templates') }}"
                value="{{ last_username }}" 
                autocomplete="email"
                required
                autofocus
            />
            <input
                id="inputPassword"
                class="form-control"
                type="password" 
                name="password" 
                placeholder="{{ 'login.inputs.password'|trans({}, 'templates') }}"
                autocomplete="current-password"
                required
            />
            <input
                type="hidden"
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            />
                
            <div class="form-error">
                {% if error %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                {% endif %}
            </div>

            <button class="btn" type="submit">
                {{ 'login.callToAction.submit'|trans({}, 'templates') }}
            </button>

            <div class="call-to-reset">
                <p>{{ 'login.messages.forgottenPassword'|trans({}, 'templates') }}</p>
                <a href={{ path('app_forgot_password_request') }}>{{ 'login.callToAction.reset'|trans({}, 'templates') }}</a>
            </div>
        </form>
    </div>
{% endblock %}
