{% extends 'base.html.twig' %}

{% block title %}{{ 'resetPassword.title'|trans({}, 'templates') }}{% endblock %}

{% block body %}
    <div class="custom-page">
        <h1>{{ 'resetPassword.title'|trans({}, 'templates') }}</h1>

        {{ form_start(resetForm, { attr: { class: 'form' } }) }}
            {{ form_widget(resetForm.plainPassword, { attr: { placeholder: 'resetPassword.inputs.password'|trans({}, 'templates')}}) }}
            <button class="btn">{{ 'resetPassword.callToAction.submit'|trans({}, 'templates') }}</button>
        {{ form_end(resetForm) }}
    </div
{% endblock %}
